@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
}
@font-face {
    font-family: 'Comfortaa', sans-serif;
    src: url("http://fonts.cdnfonts.com/css/comfortaa");
    font-weight: normal;
    font-style: normal;
}
html{
    font-family: 'NanumSquareRound',sans-serif;
}
body{
    background-color: #123373;
    display: flex;
    flex-direction: column;
}


.heatmap {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    z-index: -1;
}

.text{
    float: left;
    margin: 5px;
}

.thumbnail {
    border-radius: 10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 5px;
}

.drawing {
    border-radius: 10px;
    float: left;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background-color: rgba(255, 219, 85, 1);
}

.drawing :hover {
    cursor: pointer;
}